{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

    <!-- Bootstrap link -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- navbar dropdown trying
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    /> -->


    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'ngo/assets/css/ngo_search.css' %}" />

    <!-- font-awesome -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <title>Jobs</title>
  </head>
  <body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-xl navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand"
          ><i class="fa fa-cube"></i>NITK<b> Linkedin</b></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a class="active nav-link" href="{% url 'ngoHome' %}"
                ><i class="fa fa-home"></i> Home</a
              >
            </li>
            <!-- <li><a class="active nav-link" href="student_connect.html"><i class="fa fa-users"></i> Connect</a></li> -->
            <li>
              <a class="active nav-link" href="{% url 'ngoSearch' %}"
                ><i class="fa fa-briefcase"></i> Search</a
              >
            </li>
          </ul>
        </div>
        <div
          id="navbarSupportedContent"
          class="collapse navbar-collapse justify-content-end"
        >
          <ul class="nav">
            <li class="nav-item dropdown active">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="{% static 'img/user_pic.jpeg' %}"
                  class="avatar"
                  alt="Avatar"
                />
                {{first_name}} {{last_name}} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a href="#"
                    ><i class="fa fa-user-o"></i>Profile</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a href="{% url 'logout' %}"
                    ><i class="fa fa-sign-out"></i>Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="main">
      <header class="header-filter">
        <form action="/ngo/search/" method="post" class="filter-form">
          {% csrf_token %}
          <ul class="filter">
            <li class="filter-parameter btn-group">
                <button
                  type="button"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Primary Cause
                </button>
                <ul class="dropdown-menu">
                  <li class="filter-value">
                    <input
                      type="checkbox"
                      class="check-input"
                      name="primary_cause"
                      id="exampleCheck1"
                      value="1"
                    />
                    <label class="dropdown-item label" for="exampleCheck1">
                      Child welfare
                    </label>
                  </li>
                  <li class="filter-value">
                    <input
                      type="checkbox"
                      class="check-input"
                      name="primary_cause"
                      id="exampleCheck2"
                      value="2"
                      
                    />
                    <label class="dropdown-item label" for="exampleCheck2">
                        Education
                    </label>
                  </li>
                  <li class="filter-value">
                    <input
                      type="checkbox"
                      class="check-input"
                      name="primary_cause"
                      id="exampleCheck3"
                      value="3"
                      
                    />
                    <label class="dropdown-item label" for="exampleCheck3">
                      Special needs
                    </label>
                  </li>
                  <li class="filter-value">
                    <input
                      type="checkbox"
                      class="check-input"
                      name="primary_cause"
                      id="exampleCheck3"
                      value="4"
                      
                    />
                    <label class="dropdown-item label" for="exampleCheck3">
                      Healthcare
                    </label>
                  </li>
                  <li class="filter-value">
                    <input
                      type="checkbox"
                      class="check-input"
                      name="primary_cause"
                      id="exampleCheck3"
                      value="5"
                      
                    />
                    <label class="dropdown-item label" for="exampleCheck3">
                      Women welfare
                    </label>
                  </li>
                </ul>
              </li>
            <li class="filter-parameter btn-group">
              <button
                type="button"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                State
              </button>
              <ul class="dropdown-menu">
                {% for state in states %}

                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="state"
                    id="exampleCheck1"
                    value="{{ state }}"
                  />
                  <label class="dropdown-item label" for="exampleCheck1">
                    {{ state }}
                  </label>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="filter-parameter btn-group">
              <button
                type="button"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Certification
              </button>
              <ul class="dropdown-menu company-menu">
                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="certification"
                    id="exampleCheck1"
                    value="Amazon"
                  />
                  <label class="dropdown-item label" for="exampleCheck1">
                    Amazon
                  </label>
                </li>
                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="company"
                    id="exampleCheck2"
                    value="Google"
                  />
                  <label class="dropdown-item label" for="exampleCheck2">
                    Google
                  </label>
                </li>
                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="company"
                    id="exampleCheck3"
                    value="Facebook"
                  />
                  <label class="dropdown-item label" for="exampleCheck3">
                    Facebook
                  </label>
                </li>
                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="company"
                    id="exampleCheck4"
                    value="Netflix"
                  />
                  <label class="dropdown-item label" for="exampleCheck4">
                    Netflix
                  </label>
                </li>
                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="company"
                    id="exampleCheck5"
                    value="Apple"
                  />
                  <label class="dropdown-item label" for="exampleCheck5">
                    Apple
                  </label>
                </li>
              </ul>
            </li>
            
            <li class="filter-parameter btn-group">
              <button
                type="button"
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                On-Site / Remote
              </button>
              <ul class="dropdown-menu">
                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="onsite_remote"
                    id="On-Site-Check"
                    value="On-Site"
                  />
                  <label class="dropdown-item label" for="On-Site-Check">
                    On-Site
                  </label>
                </li>
                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="onsite_remote"
                    id="Remote-Check"
                    value="Remote"
                  />
                  <label class="dropdown-item label" for="Remote-Check">
                    Remote
                  </label>
                </li>
                <li class="filter-value">
                  <input
                    type="checkbox"
                    class="check-input"
                    name="onsite_remote"
                    id="Hybrid-Check"
                    value="Hybrid"
                  />
                  <label class="dropdown-item label" for="Hybrid-Check">
                    Hybrid
                  </label>
                </li>
              </ul>
            </li>
            <li class="filter-parameter btn-group">
                <button
                  type="button"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Trust Score
                </button>
                <ul class="dropdown-menu">
                  <li class="filter-value">
                    <input
                      class="dropdown-item radio-input"
                      type="radio"
                      name="trust_score"
                      id="exampleRadios1"
                      value="Any Time"
                    />
                    <label class="dropdown-item label" for="exampleRadios1">
                      >1
                    </label>
                  </li>
  
                  <li class="filter-value">
                    <input
                      class="dropdown-item radio-input"
                      type="radio"
                      name="date"
                      id="exampleRadios2"
                      value="30"
                    />
                    <label class="dropdown-item label" for="exampleRadios2">
                      >2
                    </label>
                  </li>
                  <li class="filter-value">
                    <input
                      class="dropdown-item radio-input"
                      type="radio"
                      name="date"
                      id="exampleRadios3"
                      value="7"
                    />
                    <label class="dropdown-item label" for="exampleRadios3">
                      >3
                    </label>
                  </li>
                  <li class="filter-value">
                    <input
                      class="dropdown-item radio-input"
                      type="radio"
                      name="date"
                      id="exampleRadios4"
                      value="1"
                    />
                    <label class="dropdown-item label" for="exampleRadios4">
                      >4
                    </label>
                  </li>
                  <li class="filter-value">
                      <input
                        class="dropdown-item radio-input"
                        type="radio"
                        name="date"
                        id="exampleRadios4"
                        value="1"
                      />
                      <label class="dropdown-item label" for="exampleRadios4">
                        >5
                      </label>
                    </li>
                </ul>
              </li>
            </li>
          </ul>
          <button class="apply-filter-button" type="submit">Apply Filter</button>
        </form>

      </header>
      <br>
      <div class="search-container">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
      <section class="main-section flex-container">
        <div class="job-list-col">
          <ul class="job-list">
            {% for ngo in ngos %}
            <li class="job">
              <a href="#" id="job-link" name="{{ ngo.username }}" onclick = "ngo_desc(name)">
                <img class="job-company-img" src="{% static 'img/job-company-1.jpg' %}" alt="">
                <div class="job-mini-details">
                  <div class="job-title">{{ ngo.org_name }}</div>
                  <div class="job-company">{{ ngo.primary_cause }}</div>
                  <div class="job-address">{{ ngo.state }}</div>
                </div>
              </a>
            </li>

            {% endfor %}
          </ul>
        </div>
        
        <div class="job-desc-col">
          <article class="job-desc">
            {% for ngo in ngos %}

            <div id = "job-{{ngo.username}}" class="job-desc-container" style = "display: none">
              
            <header class="job-desc-top">
              <div class="job-desc-title">
                {{ ngo.org_name }}
              </div>
              <div class="job-desc-company">
                {{ ngo.primary_cause }}
              </div>
              <div class="job-desc-address">
                {{ ngo.state }}
              </div>
              <div class="job-desc-time">
                {% comment %} will later change it to dynamic time calcuated as current timestamp - date of job posted {% endcomment %}
                This job was posted on {{ job.posted_on }}
              </div>
            </header>
            <ul class="job-desc-points">
              <li class="job-type">
                <i class="fa fa-solid fa-suitcase"></i>
                <span>
                  {{ job.job_type }}</li>
                </span>
              <li class="job-employees-num">
                <i class="fa fa-solid fa-building"></i>
                <span>
                  {% comment %} idk what field from job should be dynamically passed here {% endcomment %}
                  10,001+ employees · IT Services and IT Consulting</li>
                </span>
              <li class="job-college-allumini">
                <i class="fa fa-solid fa-users"></i>
                <span>
                  {% comment %} idk what field from job should be dynamically passed here {% endcomment %}
                  95 college alumni
                </span>
              </li>
            </ul>
            <br><br>
            <a href="https://{{job.site_url}}/" class="job-site-button"> Go To Site <i class="fa fa-solid fa-link"></i></a>

            <article class="job-desc-summary">
              <p class="description-text">Description</p>
              <p class="job-summary">{{ job.job_description }}</p>
            </article>
          </div>
          {% endfor %}

          </article>

        </div>
      </section>

    </main>

    <script src="{% static 'ngo/assets/js/ngo_search.js' %}"></script>

    <!-- Bootstrap Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>