{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>

  <!-- Favicons -->
  <link href="{% static 'user/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'user/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'user/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'user/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'user/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo mr-auto"><a href="/">Connect4Cause</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

          <li><a class="nav-link scrollto" href="/login">Login</a></li>
          <li class="dropdown"><a href="#"><span>Register</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/register/ngo">NGO</a></li>
              <li><a href="/register/philanthropist">Philanthropist</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static 'user/assets/img/home-logo.png' %}" alt="Connect4Cause">
        </div>

        <h1>Welcome to Connect4Cause</h1>
        <h2>We connect <span class="typed" data-typed-items="Philanthropists to NGOs"></span></h2>

      </div>
    </div>
  </section><!-- End Hero -->


  <!-- Vendor JS Files -->
  <script src="{% static 'user/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'user/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'user/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'user/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'user/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'user/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'user/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'user/assets/js/main.js' %}"></script>

</body>

</html>