
{% load static %}

<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Philanthropist Home Page</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'philanthropist/assets/css/philanthropist_home.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-xl navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand"
          ><i class="fa fa-cube"></i>Connect<b>4CAUSE</b></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a class="active nav-link" href="/philanthropist"
                ><i class="fa fa-home"></i> Home</a
              >
            </li>
            <!-- <li><a class="active nav-link" href="student_connect.html"><i class="fa fa-users"></i> Connect</a></li> -->
            <li>
              <a class="active nav-link"  href="/philanthropist/search"><i class="fa fa-search"></i> Search</a>
            </li>

              <li>
                <a class="active nav-link" href="/chat"><i class="fa fa-comments"></i>Chat</a>
              </li>
          </ul>
        </div>
        <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
          <ul class="nav">
            <li>
              <a class="active nav-link" ><i class="fa fa-user "> {{ orgName }} </i></a>            
            </li>
            <li>
              <a class="active nav-link" href="/login"><i class="fa fa-sign-out"></i>Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container py-4">
      <div class="p-5 mb-4 bg-light">
        <div class="container-fluid py-2">
          <h1 class="fw-bold">{{ orgName }}</h1>
          <br />
          <p id='philanthropist' class="fs-5">
            {{ user.username }}
          </p>
          <p class="fs-5">
            <b>Name:</b> {{ user.first_name }} {{ user.last_name }}
          </p>

          <p class="fs-5">
            <b>Primary Cause:</b> {{ philanthropist.primary_cause }}
          </p>

          <p class="fs-5">
            <b>State:</b> {{ philanthropist.state }}
          </p>
          <p class="fs-5">
            <b>Email:</b> {{ user.email }}
          </p>
          <p class="fs-5">
            <b>Contact Number:</b> {{ philanthropist.phone_number }}
          </p>

          <p class="fs-5">
            <b>Trust Score:</b> {{ philanthropist.trust_score }}
          </p>
        </div>
      </div>
    </div>
    <section class="jobs-section">
      <h2 style="margin-left: 80px;">Events</h2>
      <br>
      <ul class="job-list" style="margin-left: 80px;">
      <div class="row"></div>
        {% for event in events %}
        <div class="column">
          <div class="card" style="width: 35rem;">
            <img class="card-img-top" src="..." alt="{{ event.event_name }}">
            <div class="card-body">
              <p id='event_name' class="card-text"><b>{{ event.event_name }}</b></p>
              <p id='org_name' class="card-text">{{ event.ngo.org_name }}</p>
              <p class="card-text">{{ event.event_description }}</p>
              <p class="card-text">{{ event.date }}</p>
              <div class="input-group mb-3">
                <form action="/philanthropist/calculate/{{ event.event_name }}/{{ event.ngo.org_name }}/{{ user.username }}" method="post">
                  {% csrf_token %}
                <div class="input-group-append">
                  <input name='amount' id='amount' type="number" class="form-control" placeholder="Amount" aria-label="Amount" aria-describedby="basic-addon2">
                  <button id ='fund-btn' class="btn btn-success btn-outline-secondary" type="submit" style="color:white" >Fund me!</button>
                </div>
                </form>
                
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                aria-valuenow="{{ event.funds_raised }}" aria-valuemin="0" aria-valuemax="{{ event.funds_required }}" style="width:" + {{ event.perc }} +"%">
                {{ event.funds_raised }}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        {% endfor %}
      </ul>
    </section>
    <br /><br />
  </body>
</html>