
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
  }
  
  .header-filter {
    background-color: #eee;
    box-shadow: 0 0 2px 3px rgb(0, 0, 0, 0.3);
  }
  
  .filter-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .filter {
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 0;
    /* margin: 0 auto; */
    margin: 0;
    width: 75%;
  }
  
  .filter-parameter > button {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    border-radius: 100px;
    border: 1px solid #aaa;
    background-color: #fff;
    color: inherit;
    font-size: 1.6rem;
  }
  
  .filter-parameter > button:hover,
  .filter-parameter > button:focus {
    outline: none;
    background-color: #f1f3f5;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.15);
  }
  
  .dropdown-menu {
    right: 0;
    color: inherit;
    font-size: inherit;
  }
  
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 0;
  }
  
  .dropdown-menu.show .label {
    padding-right: 0;
  }
  
  .filter-value {
    color: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .dropdown-menu .filter-value:not(last-child) {
    margin-bottom: 1.2rem;
  }
  
  .radio-input,
  .check-input {
    margin-left: 0.8rem;
    width: auto;
  }
  
  .filter-value > label {
    color: inherit;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  
  .company-menu.show {
    position: absolute;
    right: -2.5rem !important;
    left: -2.5rem !important;
    height: 11.78rem;
    overflow-y: scroll;
  }
  
  .apply-filter-button {
    padding: 1rem 2rem;
    border-radius: 100px;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: #37b24d;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 85vh;
    gap: 1rem;
  }
  
  .main-section > * {
    width: 51rem;
    border: 1px solid #eee;
    margin: 1.6rem 0;
  }
  
  .job-list-col {
    overflow-y: scroll;
  }
  
  .job-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    color: #555;
  }
  
  .job {
    border-bottom: 1px solid #eee;
  }
  
  .job:hover {
    background-color: #a5d8ff;
  }
  
  .job:focus {
    outline: none;
    background-color: #a5d8ff;
  }
  
  .job > a {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    gap: 1.6rem;
    background-color: #fff;
  }
  
  .job a:hover {
    background-color: #a5d8ff;
  }
  
  .job-company-img {
    height: 6rem;
  }
  
  .job-mini-details {
    margin-bottom: 1rem;
  }
  
  .job-title {
    color: #1971c2;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }
  
  .job-company {
    color: #444;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 1.6rem;
  }
  
  .job-address {
    color: #888;
    font-size: 1.2rem;
  }
  
  .job-desc-col {
    padding: 3.2rem;
    overflow-y: scroll;
  }
  
  .job-desc-top {
    margin-bottom: 1.2rem;
  }
  
  .job-desc {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  
  .job-desc-title {
    font-size: 2.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
    color: #333;
  }
  
  .job-desc-company,
  .job-desc-address {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: lighter;
  }
  
  .job-desc-company {
    margin-bottom: 1rem;
  }
  
  .job-desc-address {
    color: #555;
  }
  
  .job-desc-time {
    color: #888;
  }
  
  .job-desc-points {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }
  
  .job-desc-points > li {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .job-desc-points > li > i {
    font-size: 2rem;
  }
  
  .job-desc-points > li > span {
    font-size: 1.6rem;
    color: #555;
    line-height: 1.6rem;
  }
  
  .job-site-button:link,
  .job-site-button:visited {
    text-decoration: none;
    background-color: #1c7ed6;
    color: #fff;
    border-radius: 100px;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.6rem 1.2rem;
    width: fit-content;
    margin-bottom: 2rem;
  }
  
  .job-site-button:hover,
  .job-site-button:active {
    box-shadow: inset 0 0 20px 4px rgba(0, 0, 0, 0.3);
  }
  
  .job-desc-summary {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  .description-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .job-summary {
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .search-container{
    margin-left: auto;
    margin-right: auto;

  }
    .search-container input{
        width:200px;
    height: 30px;  

    }
    .search-container button{
        width:30px;
    height: 30px;  
    }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }